/.phpunit.cache
/node_modules
/vendor
.env
.env.backup
.env.production
/auth.json
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
.editorconfig
.gitattributes
ruleset.xml
/tests/_output/
/tests/_support/_generated/

/dist/
/build/
